.sidebar{
    background-color: grey;
}

p{
    font-size:10px;
}
.circle{  
    background-color: green ;
    min-height: 300px;

}
/* .circle div { } */

/* background-image:url('../../assets/img/madera.jpg'); width: 300px; height: 300px; border-radius: 80px;
position:relative; left: 19px; top: 19px; width: 90px; height: 90px; color: white;padding:20px;margin-top:10px;  */

.etiquetas{
    /* background-color: grey; */
}

h5{
    color:white;
    font-weight: 300;
}

.lista li{
    width: 200px;
    background-color: green;
}