
.container {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #92b6d5 ;
  margin-top: -50px;
  margin-bottom:-20px;
  border-radius: 20px;
  /* background-image: url('../../assets/img/fondo.png') */
}

.subContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button {
  margin-top: -10px;
  padding: 5px 5px;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  color: #eeeeee;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0);
  text-align: center;
}

.button2 {
  margin-top: -10px;
  padding: 10px 10px;
  border: 3px solid #1095ee;
  border-radius: 5px;
  color: #eeeeee;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0);
  text-align: center;
}

.title {
  font-size: 45px;
  align-content: center;
  text-align: center;
  color:white;
  margin-top:-50px;
}

.image {
 
  width:17%;
  margin: 15px 0;
  /* max-width:50px; */
}

.text {
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  border: 3px solid #2e2e2e;
  color: #2c2c2c;
  margin-top: 50px;
  padding: 15px 10px;
  border-radius: 5px;
  text-align: center;
}
.linea{
  width: 1px; 
  height: 500px; 
  
 
}

body {
  /* display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;*/ 
  /* background-color: #92b6d5;  */
}

h3{
  color:white;
}
/* 
.animate	{ 
	width: 100%; 
	height: 400px; 
	background-image: url('../../assets/img/nubes.png');
	background-position: 100px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 40s linear infinite;
} 



 @keyframes animatedBackground {
  from { background-position: 100% 0; }
  to { background-position: 0% 0; }
} */

/* 
.animate{ 
  width: 100%; 
  height: 100px;
  background-image: url('../../assets/img/nubes.png');
  background-position: 100px 100px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
  -ms-animation: animatedBackground 40s linear infinite;
  -moz-animation: animatedBackground 40s linear infinite;
  -webkit-animation: animatedBackground 40s linear infinite;
} */

